@layer imperative-surface {

    :root {
        --impr-surface-background-color: oklch(1 0 0);
        --impr-surface-foreground-color: oklch(0.145 0 0);
        --impr-surface-backdrop-color: rgba(0, 0, 0, 0.4);
        --impr-surface-border-color: oklch(0.922 0 0);
        --impr-surface-border-radius: 1.5rem;
    }

    .dark {
        --impr-surface-background-color: #0b0b0c;
        --impr-surface-foreground-color: oklch(0.922 0 0);
        --impr-surface-backdrop-color: rgba(0, 0, 0, 0.4);
        --impr-surface-border-color: oklch(1 0 0 / 10%);
    }
}

imperative-surface {
    inset: 0;
    z-index: 9999;
    position: fixed;
}

surface-backdrop {
    inset: 0;
    position: absolute;
    backdrop-filter: blur(4px);
    background-color: var(--impr-surface-backdrop-color);
}

body:has(surface-backdrop) {
    overflow: hidden;
}

imperative-surface [data-slot="surface-body"] {
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
    height: 100%;
    -ms-overflow-style: none;
}

imperative-surface [data-slot="surface-body"][aria-busy="true"] {
    pointer-events: none;
    opacity: 0.5;
}

imperative-surface [data-slot="surface-body"]::-webkit-scrollbar {
    display: none;
}

imperative-surface [data-slot="surface-header"] {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: linear-gradient(to bottom,
            color-mix(in oklch, var(--impr-surface-background-color) 100%, transparent) 0%,
            color-mix(in oklch, var(--impr-surface-background-color) 98%, transparent) 10%,
            color-mix(in oklch, var(--impr-surface-background-color) 90%, transparent) 25%,
            color-mix(in oklch, var(--impr-surface-background-color) 75%, transparent) 45%,
            color-mix(in oklch, var(--impr-surface-background-color) 55%, transparent) 65%,
            color-mix(in oklch, var(--impr-surface-background-color) 30%, transparent) 82%,
            color-mix(in oklch, var(--impr-surface-background-color) 12%, transparent) 93%,
            color-mix(in oklch, var(--impr-surface-background-color) 5%, transparent) 96%,
            transparent 100%);
}

imperative-surface [data-slot="surface-header"]>div {
    padding: 1rem;
}

imperative-surface [data-slot="surface-header"] [data-slot="surface-header-default"] {
    display: flex;
    align-items: center;
    gap: 1rem;
}

imperative-surface [data-slot="surface-header"] [data-slot="surface-header-default"]>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

imperative-surface [data-slot="surface-header"] [data-slot="surface-header-default"]>div:nth-child(2) {
    display: flex;
    align-items: center;
    flex: 1;
}

imperative-surface [data-slot="surface-header"] [data-slot="surface-header-default"]>div:nth-child(2)[data-center="true"] {
    justify-content: center;
}

imperative-surface [data-slot="surface-header"] [data-slot="surface-header-default"]>div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

imperative-surface [data-slot="surface-header"] [data-slot="surface-header-default"] [data-slot="close-icon"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 9999px;
    cursor: pointer;
    background-color: var(--impr-surface-background-color);
    color: var(--impr-surface-foreground-color);
    border: 1px solid var(--impr-surface-border-color);
}

imperative-surface [data-slot="surface-content"] {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

imperative-surface [data-slot="surface-footer"] {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: linear-gradient(to top,
            color-mix(in oklch, var(--impr-surface-background-color) 100%, transparent) 0%,
            color-mix(in oklch, var(--impr-surface-background-color) 98%, transparent) 10%,
            color-mix(in oklch, var(--impr-surface-background-color) 90%, transparent) 25%,
            color-mix(in oklch, var(--impr-surface-background-color) 75%, transparent) 45%,
            color-mix(in oklch, var(--impr-surface-background-color) 55%, transparent) 65%,
            color-mix(in oklch, var(--impr-surface-background-color) 30%, transparent) 82%,
            color-mix(in oklch, var(--impr-surface-background-color) 12%, transparent) 93%,
            color-mix(in oklch, var(--impr-surface-background-color) 5%, transparent) 96%,
            transparent 100%);
}

imperative-surface [data-slot="surface-footer"]>div {
    padding: 1rem;
}

surface-sheet {
    position: absolute;
    background-color: var(--impr-surface-background-color);
    color: var(--impr-surface-foreground-color);
    border-radius: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--impr-surface-border-color);
    overflow: hidden;
}

surface-sheet[data-position="left"][data-size="small"],
surface-sheet[data-position="right"][data-size="small"] {
    max-width: 28rem;
    width: 100%;
}

surface-sheet[data-position="left"][data-size="medium"],
surface-sheet[data-position="right"][data-size="medium"] {
    max-width: 42rem;
    width: 100%;
}

surface-sheet[data-position="left"][data-size="large"],
surface-sheet[data-position="right"][data-size="large"] {
    max-width: 56rem;
    width: 100%;
}

surface-sheet[data-position="left"][data-size="xlarge"],
surface-sheet[data-position="right"][data-size="xlarge"] {
    max-width: 80rem;
    width: 100%;
}

surface-sheet[data-position="left"][data-size="full"],
surface-sheet[data-position="right"][data-size="full"] {
    max-width: 100%;
    width: 100%;
    border-radius: 0;
}


surface-sheet[data-position="top"][data-size="small"],
surface-sheet[data-position="bottom"][data-size="small"] {
    max-height: 40vh;
    height: 100%;
}

surface-sheet[data-position="top"][data-size="medium"],
surface-sheet[data-position="bottom"][data-size="medium"] {
    max-height: 60vh;
    height: 100%;
}

surface-sheet[data-position="top"][data-size="large"],
surface-sheet[data-position="bottom"][data-size="large"] {
    max-height: 80vh;
    height: 100%;
}

surface-sheet[data-position="top"][data-size="xlarge"],
surface-sheet[data-position="bottom"][data-size="xlarge"] {
    max-height: 90vh;
    height: 100%;
}

surface-sheet[data-position="top"][data-size="full"],
surface-sheet[data-position="bottom"][data-size="full"] {
    max-height: 100vh;
    height: 100%;
    border-radius: 0;
}

surface-sheet[data-position="right"] {
    top: 0;
    bottom: 0;
    right: 0;
    border-top-left-radius: var(--impr-surface-border-radius);
    border-bottom-left-radius: var(--impr-surface-border-radius);
    border-right: none;
}

surface-sheet[data-position="left"] {
    top: 0;
    bottom: 0;
    left: 0;
    border-top-right-radius: var(--impr-surface-border-radius);
    border-bottom-right-radius: var(--impr-surface-border-radius);
    border-left: none;
}

surface-sheet[data-position="bottom"] {
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: var(--impr-surface-border-radius);
    border-top-right-radius: var(--impr-surface-border-radius);
    border-bottom: none;
}

surface-sheet[data-position="top"] {
    top: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: var(--impr-surface-border-radius);
    border-bottom-right-radius: var(--impr-surface-border-radius);
    border-top: none;
}

surface-sheet[data-state="open"][data-position="left"] {
    animation: sheet-open-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

surface-sheet[data-state="open"][data-position="right"] {
    animation: sheet-open-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

surface-sheet[data-state="open"][data-position="top"] {
    animation: sheet-open-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

surface-sheet[data-state="open"][data-position="bottom"] {
    animation: sheet-open-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

surface-sheet[data-state="close"][data-position="left"] {
    animation: sheet-close-left 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

surface-sheet[data-state="close"][data-position="right"] {
    animation: sheet-close-right 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

surface-sheet[data-state="close"][data-position="top"] {
    animation: sheet-close-top 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

surface-sheet[data-state="close"][data-position="bottom"] {
    animation: sheet-close-bottom 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes sheet-open-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes sheet-close-left {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}


@keyframes sheet-open-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes sheet-close-right {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes sheet-open-top {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes sheet-close-top {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes sheet-open-bottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes sheet-close-bottom {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}



imperative-surface:has(surface-dialog) {
    display: flex;
    justify-content: center;
    align-items: center;
}

surface-dialog {
    width: 100%;
    background-color: var(--impr-surface-background-color);
    color: var(--impr-surface-foreground-color);
    border-radius: var(--impr-surface-border-radius);
    overflow: hidden;
    border: 1px solid var(--impr-surface-border-color);
    min-height: 6rem;
    max-height: calc(100vh - 32px);
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

surface-dialog[data-size="small"] {
    max-width: 24rem;
}

surface-dialog[data-size="medium"] {
    max-width: 42rem;
}

surface-dialog[data-size="large"] {
    max-width: 56rem;
}

surface-dialog[data-size="xlarge"] {
    max-width: 80rem;
}

surface-dialog[data-state="open"] {
    animation: dialog-open 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

surface-dialog[data-state="close"] {
    animation: dialog-close 0.3s ease-in both;
}

@keyframes dialog-open {
    0% {
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}

@keyframes dialog-close {
    0% {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% 1400px;
        opacity: 1;
    }

    100% {
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 1;
    }
}